# KDE Config File  
[Desktop Entry]
Type=Application
Exec=komport -caption "%c" %i %m  
Icon=komport
DocPath=komport/index.html
Comment=
Comment[de]=
Terminal=false
Name=Komport
Name[de]=Komport
Categories=Qt;KDE;TerminalEmulator;
