# KDE Config File  
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=komport -caption "%c" %i %m  
Icon=komport.png
DocPath=komport/index.html
Comment=
Comment[de]=
Terminal=false
Name=Komport
Name[de]=Komport
Categories=Qt;KDE;TerminalEmulator;
